@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the <a href="https://navtechdays.com">NAV TechDays</a> sample WebApp, served by @Model.GetHostname()</p>
</div>
